header {
  position: fixed;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 5%;
  border-radius: 0 0 20px 20px;
  /* background-color: var(--light-green); */
  background-image: var(--green-gradient);
  /* border-bottom: 2px solid var(--white); */
  z-index: 5;
}

.logo {
  width: 30%;
}

.logo_img {
  width: 70px;
  border-radius: 20px;
  
}

.navbar {
  width: 70%;
}

.navbar_items {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  gap: 32px;
}

.navbar_item {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: var(--black);
  transition: all 0.2s ease-in-out;
  position: relative;
  opacity: 1;
}

.navbar_item:hover {
  color: var(--white);
}

.navbar_item.active {
  color: var(--white);
  background: var(--dark-green);
  padding: 10px;
  border-radius: 10px;
}

.navbar_item:after{
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  right:inherit;
  top:inherit;
  left:0;
  bottom: -5px;
  background: var(--white);
  transition: 400ms ease all;
}

.navbar_item:hover:after{
  width:100%;
  transition:800ms ease all;
}