.show_more {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.show_more > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  transition: all 0.2s ease-in-out;
  animation: jump 0.7s linear alternate infinite;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) }
  40%  {transform: translate3d(0,30%,0) }
  100% {transform: translate3d(0,100%,0) }
}

.show_more > a:hover {
  color: var(--light-green);
}

.show_more.secondary > a:hover {
  color: var(--black);
}