:root {
  --black: #2E2E2E;
  --lowOpacity: rgba(46, 46, 46, 0.75);
  --gray: #E7E7E7;
  --dark-green: #385A64;
  --medium-green: #018673;
  --light-green: #00DFC0;
  --white: #FFF;
  --green-gradient: linear-gradient(to left, var(--light-green) , var(--dark-green));
  --dark-gradient: linear-gradient(to top, var(--medium-green) , var(--dark-green));
  --normal-shadow: black 5px 5px 5px;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white);
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--light-green);
}

/* LOADER */

.loader_container {
  width: 100vw;
  height: 100vh;
  /* background-color: var(--lowOpacity); */
  background-image: var(--green-gradient);
  display: grid;
  place-items: center;
  trasition: all 3s ease-in-out;
}

.loader {
  border: 10px solid var(--white); 
  border-top: 10px solid var(--light-green); 
  margin: auto;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* HEADER */

header {
  position: fixed;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 5%;
  border-radius: 0 0 20px 20px;
  /* background-color: var(--light-green); */
  background-image: var(--green-gradient);
  /* border-bottom: 2px solid var(--white); */
  z-index: 2;
}

.logo {
  width: 30%;
}

.logo_img {
  width: 70px;
  border-radius: 20px;
  
}

.navbar {
  width: 70%;
}

.navbar_items {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  gap: 32px;
}

.navbar_item {
  text-decoration: none;
  color: var(--black);
  transition: all 0.2s ease-in-out;
  position: relative;
  /* background-color: var(--medium-green); */
}

.navbar_item:hover {
  color: var(--white);
}

.navbar_item.active {
  color: var(--white);
  background: var(--dark-green);
  /* background-image: var(--dark-gradient); */
  padding: 10px;
  border-radius: 10px;
}

.navbar_item:after{
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  right:inherit;
  top:inherit;
  left:0;
  bottom: -5px;
  background: var(--white);
  transition: 400ms ease all;
}

.navbar_item:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* HOME */

#home {
  /* background-image: url('./assets/bg-home.jpg'); */
  background-color: var(--black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home_content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
}

.home_apresentation {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.home_apresentation_name {
  font-size: 24px;
  color: var(--light-green);
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_name {
  font-size: 5rem;
  font-weight: bold;
  color: var(--white);
}

.home_last_name {
  color: var(--light-green);
}

.home_apresentation_introduction {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  height: 50%;
}

.home_image {
  width: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.home_image > img {
  width: 80%;
}

/* ABOUT */

#about {
  background-image: var(--green-gradient)
}

.about_content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
  justify-content: space-between;
}

.about_info {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}



.about_info.left {
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.about_info.left > h3 {
  font-size: 24px;
}

.about_info.right {
  align-items: center;
  justify-content: space-around;
}

.about_image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--normal-shadow);
}

/* PROJECTS */

#projects {
  background-color: var(--black)
}

.projects_content {
  width: 100%;
  height: 90%;
  position: relative;
}

/* PROJECTS */

#git_projects {
  background-image: var(--green-gradient)
}

/* CONTACT */

#contact {
  background-image: var(--green-gradient)
}

/* GLOBAL */

.double_pages {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth; 
}

.pages {
  width: 90%;
  height: calc(100vh - 120px);
  padding: 120px 5% 0px;
  background-color: var(--black);;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.pages.double {
  min-width: 90vw;
  max-width: 90vw;
  flex: 1;
}

.section_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

.section_header {
  font-size: 24px;
}

.section_header h2::before {
  content: "<";
  margin-right: 5px;
}

.section_header h2::after {
  content: "/>";
  margin-left: 5px;
}

.buttons_flex {
  display: flex;
  width: 100%;
  align-items: center;
}

.custom_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 250px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  color: var(--black);
  background: var(--gray);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
}

.absolute_left {
  position: absolute;
  left: 0;
}

.absolute_right {
  position: absolute;
  right: 0;
}

/* SCROLL OPACITY */

.init_hidden {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.init_hidden.left {
  transform: translateX(-50%);
}

.init_hidden.right {
  transform: translateX(50%);
}

.init_hidden.up {
  transform: translateY(-50%);
}

.init_hidden.down {
  transform: translateY(50%);
}

.init_hidden.scale {
  transform: scale(0);
}

.init_hidden_off {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1) !important;
}

/* SHOW MORE */

.show_more {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_more > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  transition: all 0.2s ease-in-out;
  animation: jump 0.7s linear alternate infinite;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) }
  40%  {transform: translate3d(0,30%,0) }
  100% {transform: translate3d(0,100%,0) }
}

.show_more > a:hover {
  color: var(--light-green);
}

.show_more.secondary > a:hover {
  color: var(--black);
}

/* WRITING */

.writing::after {
  content: '|';
  color: var(--white);
  margin-right: 55px;
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100%   {opacity: 1 }
  50%  {opacity: 0 }
}

/* -------- BUTTONS VARIANTS -------------- */

.btn_normal {
  /* background: var(--light-green); */
  background-image: var(--green-gradient);
  /* border: 1px solid var(--light-green); */
  z-index: 1;
}

.btn_normal:after {
  position: absolute;
  content: "";
  width: 98%;
  height: 0;
  top: 1%;
  left: 1%;
  z-index: -1;
  border-radius: 10px;
  background-color: var(--black);
  transition: all 0.3s ease;
}
.btn_normal:hover {
  color: var(--light-green);
  background-color: transparent;
}
.btn_normal:hover:after {
  top: auto;
  bottom: 3%;
  height: 94%;
}
.btn_normal:active,
.btn_secondary:active {
  top: 4px;
}

.btn_secondary {
  background: var(--black);
  color: var(--light-green);
  border: 2px solid var(--black);
  box-shadow: var(--normal-shadow);
}

.btn_secondary:hover {
  background: var(--light-green);
  color: var(--black);
}