::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white);
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--light-green);
}

/* HOME */

#home {
  /* background-image: url('./assets/bg-home.jpg'); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: var(--black);
  /* background: var(--bg-gradient);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.home_content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.home_apresentation {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.home_apresentation_name {
  font-size: 24px;
  color: var(--light-green);
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_name {
  font-size: 5rem;
  font-weight: bold;
  color: var(--white);
}

.home_last_name {
  color: var(--light-green);
}

.home_apresentation_introduction {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  height: 50%;
}

.home_image {
  width: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.home_image > img {
  width: 80%;
}

/* ABOUT */

#about {
  background-image: var(--green-gradient)
}

.about_content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
  justify-content: space-between;
}

.about_info {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}



.about_info.left {
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.about_info.left > h3 {
  font-size: 24px;
}

.about_info.right {
  align-items: center;
  justify-content: space-around;
}

.about_image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--normal-shadow);
}

/* PROJECTS */

#projects {
  background-color: var(--black)
}

.projects_content {
  width: 100%;
  height: 90%;
  position: relative;
  z-index: 2;
}

/* PROJECTS */

#git_projects {
  background-image: var(--green-gradient)
}

/* CONTACT */

#contact {
  background-image: var(--green-gradient)
}

/* GLOBAL */

.double_pages {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth; 
}

.pages {
  width: 90%;
  height: calc(100vh - 120px);
  padding: 120px 5% 0px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.pages.double {
  min-width: 90vw;
  max-width: 90vw;
  flex: 1;
}

.section_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

.section_header {
  font-size: 24px;
}

.section_header h2::before {
  content: "<";
  margin-right: 5px;
}

.section_header h2::after {
  content: "/>";
  margin-left: 5px;
}

.buttons_flex {
  display: flex;
  width: 100%;
  align-items: center;
}

.custom_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 250px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  color: var(--black);
  background: var(--gray);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
}

.absolute_left {
  position: absolute;
  left: 0;
}

.absolute_right {
  position: absolute;
  right: 0;
}