:root {
  --black: #2E2E2E;
  --lowOpacity: rgba(255,255,255,0.15);
  --gray: #E7E7E7;
  --dark-green: #385A64;
  --medium-green: #018673;
  --light-green: #00DFC0;
  --white: #FFF;
  --green-gradient: linear-gradient(to left, var(--light-green) , var(--dark-green));
  --dark-gradient: linear-gradient(to top, var(--medium-green) , var(--dark-green));
  --bg-gradient: linear-gradient(-45deg, var(--white), var(--light-green), var(--medium-green), var(--dark-green));
  --bg-image-gradient: linear-gradient(to left, transparent, #2E2E2E05, var(--black));
  --normal-shadow: black 5px 5px 5px;

  --polimorphism-background: rgba( 0, 0, 0, 0.45 );
  --polimorphism-shadow: 0 8px 32px 0 var(--lowOpacity);
  --polimorphism-filter: blur( 6px );
  --polimorphism-border: 1px solid rgba( 255, 255, 255, 0.18 );
}
